autostart/
baidunetdisk/
balenaEtcher/
BraveSoftware/
coc/
Code - OSS/
dconf/
Electron/
epiphany/
evince/
evolution/
fcitx/
fcitx5/
flutter/
fontconfig/
fvm/
github-copilot/
glib-2.0/
gnome-session/
go/
goa-1.0/
Google/
gtk-3.0/
gtk-4.0/
htop/
ibus/
lazygit/
menus/
ModTheSpire/
mpv/
nautilus/
nvim/
nvim(lazy)/
obs-studio/
obsidian/
onlyoffice/
procps/
pulse/
QQ/
qterminal.org/
smplayer/
spark-wine/
systemd/
TheHive/
thoughts/
totem/
variety/
ventoy/
VirtualBox/
vlc/
Xmind/
yay/
yelp/
appimagelauncher.cfg
background
GNOME-xdg-terminals.list
mimeapps.list
monitors.xml
monitors.xml~
QtProject.conf
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
Deskreen/
xournalpp/
Shotcut.conf
flameshot/
chromium
google-chrome-for-testing/Crash Reports
kitty/
labplot2rc
psppirerc
bleachbit
GIMP/2.10/tool-options
GIMP/2.10/internal-data
GIMP/2.10
gtk-2.0
Cursor/Cache/Cache_Data
Cursor/CachedData/b1e87884330fc271d5eb589e368c35f14e76dec0/chrome
Cursor/CachedData/b1e87884330fc271d5eb589e368c35f14e76dec0
Cursor/CachedExtensionVSIXs
Cursor/CachedProfilesData/__default__profile__
Cursor/Code Cache
Cursor/Crashpad
Cursor/DawnGraphiteCache
Cursor/DawnWebGPUCache
Cursor/Dictionaries
Cursor/GPUCache
Cursor/Local Storage/leveldb
Cursor/Session Storage
Cursor
cherrytree
clash
powershell
ranger/plugins/__pycache__
session
xfce4/panel
cantorrc
