autostart/
baidunetdisk/
balenaEtcher/
BraveSoftware/
coc/
Code - OSS/
dconf/
Electron/
epiphany/
evince/
evolution/
fcitx/
fcitx5/
flutter/
fontconfig/
fvm/
github-copilot/
glib-2.0/
gnome-session/
go/
goa-1.0/
Google/
gtk-3.0/
gtk-4.0/
htop/
ibus/
lazygit/
menus/
ModTheSpire/
mpv/
nautilus/
nvim/
nvim(lazy)/
obs-studio/
obsidian/
onlyoffice/
procps/
pulse/
QQ/
qterminal.org/
smplayer/
spark-wine/
systemd/
TheHive/
thoughts/
totem/
variety/
ventoy/
VirtualBox/
vlc/
Xmind/
yay/
yelp/
appimagelauncher.cfg
background
GNOME-xdg-terminals.list
mimeapps.list
monitors.xml
monitors.xml~
QtProject.conf
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
Deskreen/
xournalpp/
Shotcut.conf
flameshot/
chromium
google-chrome-for-testing/Crash Reports
kitty/
labplot2rc
psppirerc
bleachbit
